# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/error_sampels/.vs
/error_sampels/concurreny/x64
/error_sampels/logic_error/x64
/error_sampels/memory_safety/x64
/error_sampels/performance/x64
/error_sampels/x64
/error_sampels/api_misuse/x64
/tree_sitter/.idea
/tree_sitter/.venv
/tree_sitter/cpp_code/build
/Sanitizers/build
/Sanitizers/results
*.dmp
crash_dumps/windows/crash.ilk
crash_dumps/windows/crash.pdb
crash_dumps/windows/global_crash.ilk
crash_dumps/windows/global_crash.pdb
crash_dumps/windows/myeasylog.log
crash_dumps/windows/vc140.pdb
